<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>

    <!--图片的宽度 1280-->
    <add key="FrameWidth" value="1736"/>

    <!--图片的高度 720-->
    <add key="FrameHeight" value="1040"/>

    <!--移除背景光线的方法  0 different差  1 div 除 (根据测试除的效果略好于差，均大幅好于不用) 其它表示不用-->
    <add key="LightMethod" value="2"/>
    
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>